<header>

    <h1>Tiny App</h1>
    <% if  (username) { %>
  
        <h2>You are logged in as <%= username %></h2>
        <form method="POST" action="/logout">
        <button type="logout">Logout</button>
        </form>
   
  

    <% } else { %>
        <h1><a href="/login">Log In</a></h1>
        <h1><a href="/register">Register</a></h1>

    <% } %>
    
 
</header>
