<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>

    <!-- Add your EJS code here -->
    <h1>Show our URL Key: <%= shortUrl %></h1>
    <form method="POST" action=<%= `/urls/${shortUrl}` %>>
      <input type=text name='newUrl' value=<%= url %>>
      <button type=submit>Update</button>
    </form>
      

  

    <h2><a href= '/urls'> Back to Main Page</a></h2>

</body>
</html>