<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>

    <!-- Add your EJS code here -->
    <h1>Show our Long URL: <%= longUrl %></h1>
    <h1>Show our Short URL: <%= shortUrl %></h1>

    <ul>
       
        <!-- <li><%= longUrl %> and the shortened form is <%= shortUrl %> </li> -->
       
    </ul>
    <ul>
       
       


    </ul>
</body>
</html>